[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/brillwill
[access "refs/for/refs/*"]
	read = group user/brillwill
	push = group user/brillwill
	label-Code-Review = -2..+2 group user/brillwill
	label-Verified = -1..+1 group user/brillwill
	rebase = group user/brillwill
	removeReviewer = group user/brillwill
	submit = group user/brillwill
[access "refs/heads/*"]
	read = group user/brillwill
	create = group user/brillwill
	push = +force group user/brillwill
	pushMerge = group user/brillwill
[access "refs/tags/*"]
	push = +force group user/brillwill
	pushTag = group user/brillwill
	pushSignedTag = group user/brillwill
